.product-customer{
  width: 10%;
}
.product-tacking-number{
  width:15%;
}
.product-data{
  width: 10%;
}
.colspanth{
  background-color:var(--bs-table-bg) !important;
}
.colspantd-text-color{
  color: var(--primary-color) !important;
}
.orders-th-secondary,.orders-td-secondary{
  height: 5vh !important;
}
.orders-td-secondary{
  text-align: center;
}
.total-price-quantity{
  height: 18vh !important;
}
.border-shipping{
  border-right: 2px solid var(--primary-color);
  height: 5vh;
}

