<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <table class="table table-bordered mt-3" *ngFor="let order of orders; let i = index">
        <tr>
          <th class="product-tacking-number colspanth colspantd-text-color">Order Tracking Number</th>
          <th colspan="5" class="colspanth colspantd-text-color">{{order.orderTrackingNumber}}</th>
          <th class="colspanth" rowspan="2"><img src="../../../../assets/images/logo/iShop_LOGO_2022.png" alt="" class="img-fluid"></th>
        </tr>
        <tr>
          <th class="product-tacking-number colspanth colspantd-text-color">Data</th>
          <th colspan="5" class="colspanth colspantd-text-color">{{order.dataCreated | date :"medium"}}</th>
        </tr>
        <tr>
          <th class="product-customer">Product Customer</th>
          <th colspan="5" class="product-items">Product Items</th>
          <th class="product-data">Status</th>
        </tr>
        <tr>
          <td class="product-customer">
             <p>Name: <b>{{order.customerfirstName}} {{order.customerlastName}}</b></p>
            <p>Email: <b>{{order.customeremail}}</b></p>
          </td>
          <td colspan="5" class="product-items">
            <div class="row">

              <div *ngFor="let product of order.products; let i = index" class="col-md-6">
                <div class="row">
                  <div class="col-md-4">
                    <img [src]="product.imageUrl" alt="" class="img-fluid" width="150px">
                  </div>
                  <div class="col-md-8">
                    <p>Id: <b>{{product.id}}</b></p>
                    <p>Name: <b>{{product.name}}</b></p>
                    <p>Price: <b>{{product.unitPrice | currency : 'EUR' : true}}</b></p>
                    <p>Quantity: <b>{{order.orderQuantity[i]}}</b></p>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td class="product-data"><app-button [buttonText]="'Status'"></app-button>
        </tr>
            <tr>
              <td class="orders-td-secondary" colspan="6">
                <div class="row">
                  <div class="col-md-6 border-shipping">
                    <h6 class="">Shipping Address: </h6>
                    <p class=""> {{order.shippingAddressCountry}} || {{order.shippingAddressState}} || {{order.shippingAddressCity}}: {{order.shippingAddressZipCode}} || {{order.shippingAddressSreet}}</p>
                  </div>
                  <div class="col-md-6">
                    <h6 class="">Billing Address: </h6>
                    <p class=""> {{order.billingAddressCountry}} || {{order.billingAddressState}} || {{order.billingAddressCity}}: {{order.billingAddressZipCode}} || {{order.billingAddressSreet}}</p>
                  </div>
                </div>
              </td>
              <td class="orders-td-secondary total-price-quantity" colspan="1" >
                <p> <b>Total Quantity:  {{order.totalQuantity}}</b></p>
                <p><b> Total Price:  {{order.totalPrice| currency : "EUR" : true}}</b></p>
               </td>
            </tr>
        </table>
        <div class="row">
          <div class="col-md-6 div-empty"></div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4" class="div-paginator">
                <ngb-pagination
                  [(page)]="pageNumber"
                  [pageSize]="pageSize"
                  [collectionSize]="totalElement"
                  [maxSize]="2"
                  (pageChange)="pageChange()"
                >
                </ngb-pagination>
              </div>
              <div
                class="col-md-8 mt-4 div-page-size"
                style="text-align: center"
                *ngIf="orders?.length !== 0"
              >
                <span class="span-page-size">Page Size </span>

                <select
                  #SelectedPagination
                  (change)="selectedPagination(SelectedPagination.value)"
                >
                  <option selected></option>
                  <option>2</option>
                  <option>5</option>
                  <option>10</option>
                  <option>25</option>
                </select>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
