/* You can add global styles to this file, and also import other style files */

*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box
}
:root{
  --primary-color:#ea0f0b;
  --box-shadow-color: #fdd9d8;
  --button-color:#2c363f;
  --button-color-hover:#191f24;
  --button-color-cancel-hover:#d60e0a;
  --button-color-success: #62a785;
  --secondary-color:#feecec;
  --background-color: #fbfafa;;
  --border-color:#205b8d;
  --footer-color:#87bba2;
}
body{
  font-family:Poppins,sans-serif;
  font-weight:400;
  font-size:16px;
  line-height:1.625;
  color:#666;
  background-color: var(--background-color) !important;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

ul{
  margin:0
}

button,input[type=button]{
  cursor:pointer
}

button:focus,input:focus{
  outline:0
}

input{
  border:none
}

button{
  border:none;
  background:0 0
}

img{
  max-width:100%;
  height:auto
}

p{
  margin:0
}

h1,h2,h3,h4,h5,h6{
  color:#333;
  font-weight:700;
  margin:0;
  line-height:1.2
}

h1{
  font-size:36px
}

h2{
  font-size:30px
}

h3{
  font-size:24px
}

h4{
  font-size:18px
}

h5{
  font-size:15px
}

h6{
  font-size:13px
}

a{
  display:inline-block
}

a:active,a:focus,a:hover{
  text-decoration:none;
  outline:0
}

a,a:hover{
  -webkit-transition:all .3s ease;
  -o-transition:all .3s ease;
  -moz-transition:all .3s ease;
  transition:all .3s ease
}
.main-content{
  padding-top:30px;
  min-height:100vh;
  background:var(--background-color);
}
.main-content.page-m{
  padding:10% 15%!important
}
.section-content{
  position:relative;
  margin:0 auto;
  z-index:1
}
.section-content-p30{
  padding:0 30px
}
.section-content.section-content-p30{
  padding-top:100px
}
@media (max-width:1315px) and (min-width:992px){
  .section-content{
       padding:0 15px
   }
 }
@media (max-width:991px){


  .main-content{
     padding-top:50px;
     padding-bottom:100px
 }

}
@media (max-width:767px){
  .main-content.page-m{
    padding:10% 0!important
}
}
