
<!-- MAIN CONTENT-->
<div class="main-content page-m">
  <div class="section-content section-content-p30 e-spc">
    <div class="container-fluid">

      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
      <div class="form-area" formGroupName="customer">
        <h3>Customer*</h3>
        <div class="row">
          <div class="col-md-6">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input':firstName.invalid && (firstName.dirty || firstName.touched)} " placeholder="First Name*" formControlName="firstName" >
                <app-error-message-checkout [textElement]="'first name'" [element]="firstName" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input':lastName.invalid && (lastName.dirty || lastName.touched)}"  placeholder="Last Name*" formControlName="lastName">
              <app-error-message-checkout [textElement]="'last name'" [element]="lastName" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input':email.invalid && (email.dirty || email.touched)}"  placeholder="Email Address*" formControlName="email">
              <app-error-message-checkout [textElement]="'email'" [element]="email" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input': confirmEmail.invalid && (confirmEmail.dirty || confirmEmail.touched) }" placeholder="Confirm Email Address" formControlName="confirmEmail">
              <app-error-message-checkout [textElement]="'confirm email'" [element]="confirmEmail" ></app-error-message-checkout>
            </div>
          </div>
        </div>
      </div>
      <!--Form 2-->
      <div class="form-area" formGroupName="shippingAddress">
        <h3>Shipping Address*</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input':shippingAddressStreet.invalid && (shippingAddressStreet.dirty || shippingAddressStreet.touched)}" placeholder="Street*" formControlName="street">
              <app-error-message-checkout [textElement]="'Shipping Address Street'" [element]="shippingAddressStreet" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input':shippingAddressCity.invalid && (shippingAddressCity.dirty || shippingAddressCity.touched)}" placeholder="City*" formControlName="city">
              <app-error-message-checkout [textElement]="'Shipping Address City'" [element]="shippingAddressCity" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-space">
              <select formControlName="country" [ngClass]="{'error-input':shippingAddressCountry.invalid && (shippingAddressCountry.dirty || shippingAddressCountry.touched)}" (change)="getStates('shippingAddress')">
                <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
              </select>
              <app-error-message-checkout [textElement]="'shipping Address Country'" [element]="shippingAddressCountry" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-space">
              <select [ngClass]="{'error-input':shippingAddressState.invalid && (shippingAddressState.dirty || shippingAddressState.touched)}" formControlName="state">
                <option *ngFor="let shippingAddressState of shippingAddressStates" [ngValue]="shippingAddressState.name">{{shippingAddressState.name}}</option>
              </select>
              <app-error-message-checkout [textElement]="'shipping Address State'" [element]="shippingAddressState" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input':shippingAddressPostalCode.invalid && (shippingAddressPostalCode.dirty || shippingAddressPostalCode.touched)}"  placeholder="Zip Code / Postal Code*" formControlName="postalCode">
              <app-error-message-checkout [textElement]="'Postal Code'" [element]="shippingAddressPostalCode" ></app-error-message-checkout>
            </div>
          </div>
        </div>
      </div>
      <div class="input-space">
        <label class="au-checkbox">
          <input type="checkbox" checked="checked" (change)="billingAddress($event)">
          <span class="au-checkmark"></span> Bill Address same as Shipping Adress
        </label>
      </div>
      <!-- billing Address -->
      <div class="form-area" formGroupName="billingAddress" *ngIf="isBillingAddress">
        <h3>Billing Address</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input':billingAddressStreet.invalid && (billingAddressStreet.dirty || billingAddressStreet.touched)}"  placeholder="Street" formControlName="street">
              <app-error-message-checkout [textElement]="'Shipping Address Street'" [element]="billingAddressStreet" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input':billingAddressCity.invalid && (billingAddressCity.dirty || billingAddressCity.touched)}" placeholder="City" formControlName="city">
              <app-error-message-checkout [textElement]="'Shipping Address City'" [element]="billingAddressCity" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-space">
              <select formControlName="country" [ngClass]="{'error-input':billingAddressCountry.invalid && (billingAddressCountry.dirty || shippingAddressPostalCode.touched)}"  (change)="getStates('billingAddress')">
                <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
              </select>
              <app-error-message-checkout [textElement]="'shipping Address Country'" [element]="billingAddressCountry" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-space">
              <select formControlName="state" [ngClass]="{'error-input':billingAddressState.invalid && (billingAddressState.dirty || billingAddressState.touched)}">
                <option *ngFor="let billingAddressState of billingAddressStates" [ngValue]="billingAddressState.name">{{billingAddressState.name}}</option>
              </select>
              <app-error-message-checkout [textElement]="'shipping Address State'" [element]="billingAddressState" ></app-error-message-checkout>
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-space">
              <input type="text" [ngClass]="{'error-input':billingAddressPostalCode.invalid && (billingAddressPostalCode.dirty || billingAddressPostalCode.touched)}" placeholder="Zip Code / Postal Code" formControlName="postalCode">
              <app-error-message-checkout [textElement]="'Postal Code'" [element]="billingAddressPostalCode" ></app-error-message-checkout>
            </div>
          </div>
        </div>
      </div>
<!-- END billing Address -->
      <div class="form-area" formGroupName="creditCard">
        <h3>Credit Card*</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="input-space">
              <select formControlName="cardType">
                <option>Visa</option>
                <option>Mastercard</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="input-space">
              <input type="text" placeholder="Name on card" formControlName="cardName">
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-8">
            <div class="input-space">
              <input type="text" placeholder="Card number" formControlName="cardNumber" >
            </div>
          </div>
          <div class="col-md-4">
            <div class="input-space">
              <input type="text" placeholder="CVV2 number" formControlName="cardSecutityCode" >
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="col-md-2"> <label class="date">Expiration Date</label></div>
          <div class="col-md-5">
            <div class="input-space">
              <select formControlName="cardSecutityMonth">
                <option  *ngFor="let month of cardSecutityMonth">{{month}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-5">
            <div class="input-space">
              <select (change)="yearChange($event)" formControlName="cardSecutityYear">
                <option *ngFor="let year of cardSecutityYear">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="form-area review">
        <h3>Review Your Order</h3>
        <b>Total Quantity: {{ totalQuantity }}</b>
        <h4>Shipping: FREE</h4>
        <B>Total Price: {{ totalPrice | currency : "EUR" : true }}</B>
        <div class="input-space term">
          <label class="au-checkbox">
            <input type="checkbox">
            <span class="au-checkmark"></span>Accept Terms and Conditions of Sale
          </label>
        </div>
      </div>
      <div class="text-center">
        <button type="submit"  class="btn btn-info">Purchase</button>
      </div>
    </form>
    </div>
  </div>
</div>
