<div class="page-wrapper">

  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a href="#">
        <img src="../../../assets/images/logo/mstile-150x150.png" alt="IShop" class="img-fluid">
      </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
      <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list" *ngFor="let tempProductCategory of productCategory; let i = index;">
          <li>
            <a routerLink="/category/{{productCaegoryId + i}}" routerLinkActive="active-link">{{tempProductCategory.categoryName | titlecase }}</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
