<!-- DESKTOP MODE -->
<div class="main-content desktop-mode">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <table class="table table-bordered">
        <tr>
          <th class="product-image-title">Product Image</th>
          <th class="product-detail-title">Product Detail</th>
          <th class="product-empy-title"></th>
        </tr>
        <tr>
          <td>
            <img
              src="../../../../assets/images/products/il vampiro di venezia.jpg"
              class="img-responsive"
              width="180px"
            />
          </td>
          <td>
            <p>Product title</p>
            <p>Product subtitle title</p>
            <p>$9.99</p>
          </td>
          <td class="pb-2 ps-1">
            <div class="items">
              <label>Quantity</label>
              <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
              </select>
            </div>
            <p>Sub-total $9.99</p>
            <button href="#" class="primary-btn">Remove</button>
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td class="pb-2 ps-1 pt-2">
            <b>Total Quantity:2</b>
            <p>Shipping FREE</p>
            <b>Total Price: $19.99</b><br />
            <button href="checkout-page.html" class="primary-btn">
              Checkout
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- END DESKTOP MODE -->
<!-- MOBILE MODE -->
<div class="main-content mobile-mode">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <table class="table table-bordered">
        <tr>
          <th class="product-detail-title-mobile">Product Detail</th>
        </tr>
        <tr>
          <td class="product-detail-title-body">
            <div class="row">
              <div class="col-md-6">
                <img
                  src="../../../../assets/images/products/il vampiro di venezia.jpg"
                  class="img-responsive"
                  width="180px"
                />
              </div>
              <div class="col-md-6">
                <p>Product title</p>
                <p>Product subtitle title</p>
                <p>$9.99</p>
                <div class="items">
                  <label>Quantity</label>
                  <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <p>Sub-total $9.99</p>
                <button href="#" class="primary-btn">Remove</button>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <table class="table table-bordered text-center">
        <tr>
          <th class="product-empy-title-mobile">Checkout</th>
        </tr>
        <tr>
          <td>
            <p><b>Total Quantity:2</b></p>
            <p><b>Shipping FREE </b></p>
            <b>Total Price: $19.99</b><br />
            <button href="checkout-page.html" class="primary-btn">
              Checkout
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- END MOBILE MODE -->
