.form-header{
  display:-webkit-box;
  display:-webkit-flex;
  display:-moz-box;
  display:-ms-flexbox;
  display:flex
}
.au-input{
  line-height:43px;
  border:1px solid #e5e5e5;
  font-size:14px;
  color:#666;
  padding:0 17px;
  width: 500px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-transition:all .5s ease;
  -o-transition:all .5s ease;
  -moz-transition:all .5s ease;
  transition:all .5s ease
}
input.au-input.au-input-xl{
  border-radius:40px!important;
  margin-right:15px
}
.au-btn-submit{
  position:relative;
  right:0;
  min-width:95px;
  color:#fff;
  border:1px solid var(--border-color);
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:43px;
  background: var(--button-color)
}
.au-btn-submit:hover{
  background:var(--button-color-hover)
}
@media (max-width:1600px){
  .au-input-xl{
    min-width:290px
}
}
@media (min-width:992px) and (max-width:1199px){

  .au-input{
    width: 100%;
  }
}
@media (max-width:991px){
  .form-header{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -moz-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
  }
  .au-input-xl{
    min-width:935px
  }

input.au-input.au-input-xl{
  border-radius:0!important;
  margin-right:0
}
.au-input-xl{
  min-width:350px
}
}
@media (max-width:767px){
.au-input-xl{
  min-width:150px
}
.au-btn-submit{
  position:relative;
  right:10px;
  min-width:85px;
  color:#fff;
  border:1px solid var(--border-color);
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:0;
  background: var(--button-color);
}
}
@media (max-width:600px){
  .au-input{
    width: 300px !important;
  }
}
@media (max-width:390px){
  .au-input{
    width: 200px !important;
  }
}
@media (max-width:300px){
  .au-input{
    width: 100px !important;
  }
}

