<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section-content section-content-p30 section-product-list">
    <div class="container-fluid">
      <div class="row">
        <!-- Error Product Not Found -->
        <div
          class="col-md-12 text-center"
          *ngIf="products?.length == 0 && searchOk"
        >
          <app-product-not-found  [products]="products"></app-product-not-found>
        </div>
        <!-- end Error Product Not Found -->
        <div class="col-md-3 card-product" *ngFor="let product of products">
          <div class="product-box">
            <a routerLink="/products/{{product.id}}">

              <img
                src="{{ product.imageUrl }}"
                alt="{{ product.imageUrl }}"
                class="img-fluid"
              />
            </a>
            <a routerLink="/products/{{ product.id }}">
              <h3 class="name">{{ product.name }}</h3>
            </a>
            <h2 #description class="description">{{ product.description }}</h2>
            <div class="price">
              {{ product.unitPrice | currency : "EUR" : true }}
            </div>
            <app-button (click)="addToCart(product)" [buttonText]="'Add To Cart'"></app-button>
          </div>
        </div>
      </div>
    </div>
    <!-- paginator -->
    <div
      class="footer-pagination"
      *ngIf="products?.length !== 0 && searchOk"
    >
      <div class="row">
        <div class="col-md-6 div-empty"></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4" class="div-paginator">
              <ngb-pagination
                [(page)]="pageNumber"
                [pageSize]="pageSize"
                [collectionSize]="totalElement"
                [maxSize]="2"
                (pageChange)="pageChange()"
              >
              </ngb-pagination>
            </div>
            <div
              class="col-md-8 mt-4 div-page-size"
              style="text-align: center"
              *ngIf="products?.length !== 0 && searchOk"
            >
              <span class="span-page-size">Page Size </span>

              <select
                #SelectedPagination
                (change)="selectedPagination(SelectedPagination.value)"
              >
                <option selected></option>
                <option>2</option>
                <option>5</option>
                <option>10</option>
                <option>25</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end paginator -->
  </div>
</div>
