

.product-box img {
  width: 150px;
  height: 200px;
}
.name{
  max-height: 67px !important;
}
.product-box{
  margin-bottom:60px
}
.product-box h1{
  font-size:18px;
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
  font-weight:600;
  padding-top:12px;
  margin-bottom:7px
}
.product-box h2{
  font-size:15px;
  padding-bottom:0;
  font-weight:500;
  color:#585858
}
.section-product-list{
  padding-top: 0px !important;
}
.card-product{
  width: 350px;
  height: 450px;
  border: 1px solid var(--border-color);
  border-radius: 43px;
  padding: 20px;
  text-align: center;
  background-color: var(--background-color);
  -webkit-box-shadow:3px 6px 9px 0 rgba(0,0,0,.1);
  -moz-box-shadow:3px 6px 9px 0 rgba(0,0,0,.1);
  box-shadow:3px 6px 9px 0 rgba(0,0,0,.1);
  margin: 10px 20px;
}
.product-box a:nth-child(2){
  text-decoration: none;
  color: var(--button-color);
}

.price{
  margin:15px 0 0;
  font-weight:800;
  color:var(--button-color)
}
.div-paginator{
  padding-left: 15%;
  padding-right: 0%;
  padding-top: 2%;

  width: 20px;

}
select{
  margin-top: -3px;

  padding: 5px;

}
option{
  background-color: #fdd9d8;
  padding: 5px;

}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  background-color: var(--background-color);
  color: var(--primary-color) !important;
  font-weight:600;

}

ngb-pagination ::ng-deep ul > li.active > a {
  border-color: transparent !important;
  box-shadow: 0 0 0 0rem  transparent;
  background-color: var(--primary-color) !important;
}
@media (max-width:1429px){
  .card-product{
    margin:0 auto;
  }


}
@media (max-width:1309px){
.footer-pagination{
  width: 600px;
}
.div-page-size{
  margin-top: 0px !important;
  margin-left: 2px !important;
  padding-left: 250px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.span-page-size{
  margin-right: 5px;
}



}
@media (max-width:1200px){
  .footer-pagination{
    width: 590px;
  }
  .div-page-size{
    padding-left: 240px !important;

  }


  }
  @media (max-width:1141px){

    .footer-pagination{
      width: 520px;
    }
    .div-page-size{
      padding-left: 200px !important;

    }


    }
    @media (max-width:1075px){

      .footer-pagination{
        width: 450px;
      }
      .div-page-size{
        padding-left: 180px !important;

      }


      }
@media (max-width:991px){

 .footer-pagination{
  width: 600px;
}
.div-page-size{
  padding-left: 250px !important;

}

}
@media (max-width:991px){
  .footer-pagination{
    width: 500px;
  }
  .div-page-size{
    padding-left: 200px !important;

  }

}

@media (max-width:779px){
  .card-product{
    margin:0 auto;
  }
  .footer-pagination{
    width: 550px;
    height: 80px;
  }
  .div-page-size{
    padding-left: -0px !important;
    margin-left: -37px !important;
    margin-top: 80px !important;

  }

}
@media (max-width:767px){


.product-box{
  text-align:centerg
}
.footer-pagination{
  width: 100%;
  height: 80px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.div-page-size{
  padding-left: -0px !important;
  margin-left: -0px !important;
  margin-top: 8px !important;

}

}

@media (max-width:699px){
  .card-product{
    margin:10px auto;
  }
}
@media (max-width:393px){
  .card-product{
    width: 300px;
  }
}
@media (max-width:320px){
  .card-product{
    width: 270px;
  }
}

