<!-- <p *ngFor="let product of products">
  {{product.name}}: {{product.unitPrice | currency:'EUR':true}}
  <img src="{{product.imageUrl}}" alt="{{product.imageUrl}}" width="50px" class="img-fluid">
</p> -->
<!-- MAIN CONTENT-->
<div class="main-content">
  <div class="section-content section-content-p30 section-product-list">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-3 card-product" *ngFor="let product of products">
          <div class="product-box">
            <a href="product-detail.html">
              <img
                src="{{product.imageUrl}}"
                alt="{{product.imageUrl}}"
                class="img-fluid"
              />
            </a>
            <a href="product-detail.html">
              <h3 class="name">{{product.name}}</h3>
            </a>
            <h2 #description class="description">{{product.description}}</h2>

            <div class="price">{{product.unitPrice | currency:'EUR':true}}</div>

            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
