<div class="main-content" *ngIf="product">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div class="detail-content">
          <img
            src="{{ product.imageUrl }}"
            class="img-responsive"
            width="200px"
          />

          <h3>{{ product.name }}</h3>
          <div class="price">
            {{ product.unitPrice | currency : "EUR" : true }}
          </div>
          <app-button (click)="addToCart()" [buttonText]="'Add To Cart'"></app-button>

          <h4>Product Description</h4>
          <p>{{ product.description }}</p>
          <p>{{product.dataCreated | date :'dd'+'/'+'MM'+'/'+'yyyy' }}</p>
            <app-back-to-product-list></app-back-to-product-list>
        
        </div>
      </div>
    </div>
  </div>
</div>
