<div class="main-content" *ngIf="product">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div class="detail-content">
          <img
            src="{{ product.imageUrl }}"
            class="img-responsive"
            width="200px"
          />

          <h3>{{ product.name }}</h3>
          <div class="price">
            {{ product.unitPrice | currency : "EUR" : true }}
          </div>
          <a href="#" class="primary-btn">Add to cart</a>

          <h4>Product Description</h4>
          <p>{{ product.description }}</p>
          <p>{{product.dataCreated | date :'dd'+'/'+'MM'+'/'+'yyyy' }}</p>

          <a routerLink="/" class="back">
            <i class="fa-solid fa-arrow-left"></i>
            Back to Product List</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
