.main-content{
  padding-top:30px;
  min-height:100vh;
  background:var(--background-color);
}
.main-content.page-m{
  padding:10% 15%!important
}



.price{
  margin:15px 0 0;
  font-weight:800;
  color:var(--button-color)
}


@media (max-width:991px){

  .section-content{
    padding-top: 0px !important;
  }
  .main-content{
     padding-top:50px;
     padding-bottom:100px
 }
 .section-content-p30{
  padding:0
}
}
@media (max-width:767px){
  .main-content.page-m{
    padding:10% 0!important
}

.section-content.section-content-p30{
  padding-top:100px
}

}
@media (max-width:600px){
  .detail-content{
    text-align: center !important;
  }
}

