.cart-area.d-n{
  display:block
}

.cart-area i{
  font-size:22px;
  float:left;
  margin-top:16px;
  color:#fff;
  margin-left:15px
}
.total{
  background: var(--button-color);
  line-height:43px;
  color:#fff;
  border-radius:30px;
  border:1px solid var(--border-color);
  float:left;
  margin-top:7px;
  padding-left:17px
}
.total span{
  display:inline-block;
  background:#fff;
  padding:0 13px;
  color:#000;
  border-top-right-radius:20px;
  border-bottom-right-radius:20px;
  margin-left:11px
}
@media (min-width:992px) and (max-width:1199px){



  .cart-area i{
    font-size:22px;
    float:left;
    margin-top:16px;
    color: var( --background-color) !important;
    margin-left:15px
}

}
@media (max-width:991px){
  .cart-area.d-n{
   position: absolute;
   right: 40px;
   bottom: 0.3vh !important;
  }
  .fa-shopping-cart{
    color: var( --background-color) !important;
  }
  .total{
    display: none;
  }
  .cart-area i{
    font-size:22px;
    float:left;
    margin-top:16px;
    color: var( --background-color) !important;
    margin-left:15px
  }
}
@media (max-width:767px){


  .total span{
    display:inline-block;
    background:#fff;
    padding:0 10px;
    color:#000;
    border-top-right-radius:20px;
    border-bottom-right-radius:20px;
    margin-left:6px
  }
  .total{
    background:var(--border-color);
    line-height:30px;
    color:#fff;
    border-radius:30px;
    border:1px solid var(--border-color);
    float:left;
    margin-top:9px;
    padding-left:12px
  }
}
@media (max-width:767px){

  .cart-area.d-n{
   right: 25px;
  }
}
@media (max-width:672px){
  .cart-area.d-n{
    right: 20px;
   }
}
@media (max-width:310px){
  .fa-shopping-cart{
    font-size: 20px !important;
   }
   .cart-area.d-n{
    right: 15px;
   }
}
@media (max-width:294px){
  .cart-area.d-n{
    right: 10px;
   }
}
@media (max-width:282px){
  .cart-area.d-n{
   display: none;
   }
}
